

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    margin: 0%;
  }

img {
    display: block;
    max-width: 100%;
    border-radius: 25px;
    align-self: center;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

.hero {
    display: flex;
    align-self: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0%;
}


.container-about {
    background-color: rgba(0,0,0,.7);
    border-radius: 25px;
    border: 10px;
    padding: 15px;
    align-content: center;
    width: 90%;
    margin: auto;
  }

.container-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto; 
    column-gap: 5%;
    row-gap: 50px;
    border: 10px;
}

.container-disc {
    background-color: rgba(0,0,0,.7);
    border-radius: 25px;
    padding: 15px;
    align-content: center;
    width: 90%;
    margin: auto;
    border: 10px;
}

.container-album {
    background-color: rgba(0,0,0,.7);
    border-radius: 25px;
    padding: 15px;
    border: 10px;
}

.container-footer {
    background-color: rgba(0,0,0,.7);
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 5%;
    
}

.container-footer-img img{
    border-radius: 0%;
    width: 100%;
}
